@import '../../sass/global.scss';

.wrap {
    margin-top: 10rem;
    margin-bottom: 10rem;

    @include respond(phone) {
        margin-bottom: 7rem;
    }
}

.list {
    ul {
        li {
            margin-top: 8.4rem;

            @include respond(tab-port) {

                &:first-of-type {
                    margin-top: 4.2rem;
                }
            }

            h3 {
                font-size: 2.5rem;
                color: var(--color-dark);
                font-weight: 700;
            }
        }
    }
}

.item {
    $pic_size: 700px;

    @include display-flex();
    @include box-align(center);

    background: #f9f9f9;
    padding: 2.7rem 3.4rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    
    @include respond(tab-land) {
        $pic_size: 500px;
    }

    @include respond(tab-port) {
        flex-direction: column-reverse;
        padding: 0;
        border: 1px solid #f3f3f3;
    }

    .info {
        width: calc(100% - #{$pic_size} - 120px);
        margin-right: 120px;

        @include respond(tab-port) {
            width: 100%;
            margin-right: 0;
            margin-top: 2.4rem;
            padding: 0rem 2.5rem 2.7rem;
        }

        h3 {
            padding-bottom: 2.7rem;
        }

        p {
            font-size: 1.55rem;
            line-height: 1.5;
        }

        a {
            display: inline-block;
            margin-top: 2rem;
            @include transition(.4s ease all);
            padding: 1.3rem 2rem;
        
            svg {
                width: 14px;
                height: 14px;
                margin-right: 10px;
                margin-bottom: -2px;
                fill: #fff;
            }
        }
    }

    .technologies {
        margin-top: 1.7rem;

        img {
            display: inline-block;
            margin-right: 2rem;
            width: 3.5rem;
        }
    }
    
    .pic {
        width: $pic_size;
        border-radius: var(--border-radius);
        border: 3px solid #f6f6f6;
        overflow: hidden;

        @include respond(tab-port) {
            width: 100%;
            border: 0;
            border-radius: 0;
            // border-bottom: 1px solid #f3f3f3;
        }
    
        a {
            display: block;
            width: 100%;
            position: relative;

            &:hover {
                .pic__overlay {
                    opacity: 1;
                }
            }
        }

        &__container {
            > div {
                position: unset !important;
            }

            :global(.image) {
                object-fit: contain;
                width: 100% !important;
                position: relative !important;
                height: unset !important;
            }
        }

        &__overlay {
            position: absolute !important;
            top: 0; right: 0; bottom: 0; left: 0;
            background: rgba($color: #000, $alpha: .7);
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            opacity: 0;
            @include transition(.4s all ease);

            p {
                @include absoluteCenter();
                color: #ddd;
                font-weight: 500;
            }
        }
    }
}