@import '../../sass/global.scss';

.wrap {
    margin-top: 10rem;
    margin-bottom: 10rem;

    @include respond(phone) {
        margin-bottom: 7rem;
    }
}

.list {
    ul {
        li {
            margin-top: 8.4rem;

            @include respond(tab-port) {

                &:first-of-type {
                    margin-top: 4.2rem;
                }
            }

            h3 {
                font-size: 2.5rem;
                color: var(--color-dark);
                font-weight: 700;
            }
        }
    }
}

.item {
    $pic_size: 700px;

    @include display-flex();
    @include box-align(center);

    background: #f9f9f9;
    padding: 2.7rem 3.4rem;
    border-radius: var(--border-radius);

    @include respond(tab-land) {
        $pic_size: 500px;
    }

    @include respond(tab-port) {
        flex-direction: column-reverse;
        padding: 2.7rem 2.5rem;
    }

    .info {
        width: calc(100% - #{$pic_size} - 120px);
        margin-right: 120px;

        @include respond(tab-port) {
            width: 100%;
            margin-right: 0;
            margin-top: 4.2rem;
        }

        h3 {
            padding-bottom: 2.7rem;
        }

        p {
            font-size: 1.7rem;
            line-height: 1.5;
        }

        a {
            display: inline-block;
            margin-top: 2rem;
            // background: var(--color-primary-bright);
            @include transition(.4s ease all);
            padding: 1rem 2rem;

            &:hover {
                // background: darken($color: #f1f9fa, $amount: 4%);
            }
        
            svg {
                width: 14px;
                height: 14px;
                margin-right: 10px;
                margin-bottom: -2px;
                fill: #fff;
            }
        }
    }
    
    .pic {
        width: $pic_size;

        @include respond(tab-port) {
            width: 100%;
        }

        img {
            border-radius: var(--border-radius);
            border: 3px solid #f6f6f6;
            // border: 5px solid var(--color-gray-dark);
        }
    }
}