@import '../../sass/global.scss';

.wrap {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.list {
    ul {
        li {
            margin-top: 8.4rem;

            h3 {
                font-size: 2.5rem;
                color: var(--color-dark);
                font-weight: 700;
            }
        }
    }
}