@import '../../common/sass/global.scss';

.contactForm {
    input, textarea {
        width: 100%;
    }

    button {
        display: block;
        margin-left: auto;
    }
}

.contactDetails {
    margin-top: 40px;
    padding-top: 60px;

    background: url('../../../public/img/gradient5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    &__inner {
        background: var(--color-white);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    & > :global(.boxhead) {
        padding-bottom: 47px;
    }

    :global(.s-container) {
        @include display-flex();
        @include box-align(center);
        @include flex-justify-content(space-between);
        padding-top: 75px;
        padding-bottom: 75px;
    }

    &__row {
        margin-bottom: 35px;

        a {
            font-size: 2.7rem;
            color: #717171;
            @include transition(.3s color ease);

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    &__graphic {
        width: 290px;
    }

    &__memoji {
        width: 100%;
    }
}