@import '../../sass/global.scss';

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #110111;
}

.navigation {
    margin-bottom: var(--p-3);
    padding-bottom: var(--p-3);
    border-bottom: 1px solid #242424;
    @include display-flex();
    @include box-align(center);
    @include flex-justify-content(space-between);

    @include respond(tab-port) {
        display: block;
    }
}

.logo {
    h5 {
        font-size: 2.3rem;
        font-weight: 600;
        color: #fff;
    }
}

.list {

    @include respond(tab-port) {
        margin-top: 6.4rem;
    }
    
    ul {
        li {
            display: inline-block;
            
            &:not(:first-child) {
                padding-left: 2.7rem;
            }

            @include respond(phone) { 
                display: block;

                &:not(:first-child) {
                    padding-left: 0;
                    padding-top: 2.7rem;
                }
            }

            a {
                font-size: 1.45rem;
                font-weight: 500;
                color: #fff;

                span {
                    font-size: 1.2rem;
                    margin-right: 1rem;
                    color: #616161;
                }

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}

.bottom {
    @include display-flex();
    @include flex-justify-content(space-between);
    color: #616161;
    font-size: 1.4rem;
    font-weight: 500;

    @include respond(phone) {
        display: block;

        span {
            display: block;

            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
}