.container {
    max-width: 1300px;
    padding-left: var(--p-2);
    padding-right: var(--p-2);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.boxhead {
    margin-bottom: 20px;

    h1, h2, h3, h4, h5, h6 {
        font-size: 3.7rem;
        font-weight: 700;
        color: var(--color-dark);
    }
}