.container, .s-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--p-2);
    padding-right: var(--p-2);
}

.container {
    max-width: 1300px;
}

.s-container {
    max-width: 900px;
}

.boxhead {
    margin-bottom: 30px;

    h1, h2, h3, h4, h5, h6 {
        font-size: 4.7rem;
        font-weight: 700;
        color: var(--color-dark);

        @include respond(phone) {
            font-size: 3.6rem;
        }
    }

    &__icon {
        @include display-flex();
        @include box-align(center);

        @include respond(phone) { 
            display: block;    
        }

        .icon {
            margin-left: 1.7rem;
            width: 4.2rem;

            @include respond(tab-port) {
                margin-top: 3.4rem;
            }
        }
    }

    &__subtitle {
        p {
            padding-top: .8rem;
            font-size: 1.7rem;
            font-weight: 500;
            color: #717171;

            @include respond(phone) {
                font-size: 1.5rem;
            }
        }
    }
}

.bsP {
    p {
        font-size: 2.15rem;
        line-height: 1.5;

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }
}