.center {
    text-align: center;
}

.btn {
    border-radius: var(--border-radius);
    padding: 12px 19px;
    box-sizing: border-box;
    font-size: 1.35rem;
    font-weight: 600;
    cursor: pointer;
    background: var(--surface-background);
    color: var(--color-dark);
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
}

.btn-primary-bright {
    background: var(--color-primary-bright);
    color: var(--color-primary);
}

.btn-border {
    border: 1px solid #f1f1f1;
    color: var(--color-dark);
    background: #fff;

    &:hover {
        background: #fbfbfb;
        color: var(--color-primary);
    }
}