.center {
    text-align: center;
}

.flex-center {
    @include flex-justify-content(center);
}

.fadeComponent {
    @include transition(100ms opacity ease);
    @include transition(100ms transform ease);   

    &__long {
        @include transition(.4s opacity ease-out);
        @include transition(.4s transform ease-out);   
    }
}

.btn {
    border-radius: var(--border-radius);
    padding: 12px 19px;
    box-sizing: border-box;
    font-size: 1.35rem;
    font-weight: 600;
    cursor: pointer;
    background: var(--surface-background);
    color: var(--color-dark);
}

.btnPrimary {
    background: var(--color-primary);
    padding: 12px 45px;
    color: #fff;
    @include transition(.3s opacity ease);

    &:hover {
        opacity: .84;
    }
}

.btn-primary-bright {
    background: var(--color-primary-bright);
    color: var(--color-primary);
}

.btnBorder {
    // &--primary {

    // }
}

.btn-border {
    border: 1px solid var(--surface-background);
    color: var(--color-dark);
    background: #fff;

    &:hover {
        background: #fbfbfb;
        color: var(--color-primary);
    }
}