@import '../common/sass/global.scss';

.header {
    // margin-top: 27vh;
    width: 100%;
    // min-height: 50vh;
    padding-top: 25vh;
    margin-bottom: 15vh;
    // z-index: -1;
    // min-height: calc(100vh - 15rem);

    @include respond(tab-port) {
        padding-top: 20vh;
        // min-height: calc(80vh - 15rem);
    }

    @media screen and (max-width: 30em) {
        padding-top: 10rem;
        min-height: calc(100vh - 10rem);
        overflow: hidden;
        margin-bottom: 5vh;
    }

    &__bg {
        // position: absolute;
        // top: 0; height: 100vh; right: 0; left: 0;
        // background: url('../../public/img/header-gradient.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom;
        // opacity: 0.1;
    }

    :global(.container) {
        position: relative;
    }

    &__mockupLeft {
        position: absolute;
        left: 0;
        bottom: 2%;
        transform: rotate(-17deg);

        @include respond(tab-port) {
            bottom: 0;
            left: 5%;
        }

        @media screen and (max-width: 43.75em) {
            // display: none;
            @include transform(none);
            text-align: center;
            right: 0;
            bottom: -360px;
        }

        img {
            width: 300px;
            @include createTransition(3s, ease);

            @include respond(tab-land) {
                width: 240px;
            }

            @include respond(tab-port) {
                width: 200px;
            }

            @media screen and (max-width: 43.75em) {
                width: 300px;
                transform: translateY(0) !important;
            }
        }
    }

    &__mockupRight {
        position: absolute;
        right: 2%;
        bottom: 5%;
        transform: rotate(15deg);

        @include respond(tab-port) {
            bottom: 2%;
            right: 5%;
        }

        @media screen and (max-width: 43.75em) {
            display: none;
        }

        img {
            width: 220px;
            @include createTransition(3s, ease);

            @include respond(tab-land) {
                width: 180px;
            }
        }
    }

    &__centerbox {
        // @include absoluteCenter;
        // top: 45%;
        text-align: center;

        :global(.boxhead) {
            height: 140px;
            margin-bottom: 1.5rem;

            // 700 px
            @media screen and (max-width: 43.75em) {
                // height: 200px;
                height: auto;
                // @include display-flex();
                // @include box-align(center);
                // @include flex-justify-content(center);
            }
        }

        h1 {
            font-size: 5.7rem;
            color: #111;

            @media screen and (max-width: 43.75em) {
                font-size: 5rem;
            }

            // 480px
            @media screen and (max-width: 30em) {
                font-size: 4.3rem;
            }

            :global(.Typewriter) {
                display: inline-block;
            }

            :global(.block) {
                display: block;
            }
        }

        p {
            color: var(--secondary-text);
            font-size: 2.2rem;
            font-weight: 400;
            padding-top: .7rem;

            @media screen and (max-width: 30em) {
                font-size: 1.8rem;
            }
        }

        a {
            display: inline-block;
            margin-top: 2.4rem;
            font-size: 1.6rem;

            @media screen and (max-width: 30em) {
                font-size: 1.5rem;
            }
        }
    }

    &__scroll {
        margin-top: 17vh;
        @include display-flex();
        @include box-align(center);
        @include flex-justify-content(center);
        @include createTransition(3s, ease);

        p {
            font-weight: 500;
            padding-right: .7rem;
        }
        
        img {
            width: 17px;
        }
    }

    &__animation {
        // @include transform(translateY(12px));
        @include transform(translateY(21px));
    }
}