@import '../../sass/global.scss';

.root {
    background: #0a0a0a;
    padding-bottom: 100px;

    @include respond(phone) {
        margin-top: -100px;
        padding-bottom: 60px;
    }
}

.header {
    padding-top: 100px;

    h2 {
        color: #fff;
    }

    p {
        padding-top: 1.7rem;
        font-size: 2rem;
        line-height: 1.7;
        color: #ccc;
        max-width: 42rem;
        margin: auto;
    }
}

.slide {
    color: #fff;
}

.techsContainer {
    margin-top: 60px;
}

.list {
    max-width: 50rem;
    margin: auto;
    @include display-flex();
    @include flex-justify-content(center);
    flex-wrap: wrap;

    li {
        margin: 10px 25px 50px;
        flex: 0 0 calc(33% - 50px);

        @include respond(phone) {
            margin: 10px 25px 30px;
            flex: 0 calc(50% - 50px);
        }

        @media screen and (max-width: 25em) {
            margin: 10px 15px 30px;
            flex: 0 calc(50% - 30px);

            &:nth-child(3) {
                .bubble {
                    padding: 25px !important;
                }
            }
        }

        @media screen and (max-width: 22.1875em) {
            &:nth-child(3) {
                .bubble {
                    padding: 18px !important;
                }
            }
        }
    }
}

.bubble {
    width: 100%;
    background: #181818;
    border-radius: 50%;
    padding: 40px;
    box-sizing: border-box;

    @media screen and (max-width: 25em) {
        padding: 45px;
    }

    @media screen and (max-width: 22.1875em) {
        padding: 30px;
    }
    
    svg {
        width: 100%;
        height: auto;
    }
}