@import '../../sass/global.scss';

.nav {
    position: fixed;
    top: 0; right: 0; left: 0;
    padding-top: var(--p-2);
    padding-bottom: var(--p-2);
    background: rgba($color: #fff, $alpha: .87);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 10;

    :global(.container) {
        @include display-flex();
        @include box-align(center);
        @include flex-justify-content(space-between);
    }

    &__shadow {
        @include transition(.3s ease box-shadow);
    }
}

.logo {
    img {
        width: auto;
        height: 2.1rem;
    }
}

.list {
    position: absolute;
    @include absoluteCenter;

    @include respond(tab-port) {
        position: relative;
        top: unset;

    }

    ul {
        li {
            display: inline-block;
            
            &:not(:first-child) {
                padding-left: 2.7rem;
            }

            @include respond(tab-port) {
                display: block;
                
                &:not(:first-child) {
                    padding-left: 0;
                }
            }

            a {
                font-size: 1.65rem;
                color: var(--color-dark);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}

.right {
    @include display-flex();

    a {
        display: block;
        text-align: center;
        // padding: 12px 34px;
    }
}

.lang {
    margin-right: var(--p-1);

    button {
        font-weight: 500;
    }
}

.mobileRight {
    display: none;

    @include respond(tab-port) {
        @include display-flex();
        @include box-align(center);
    }
}

.mobile {
    @include respond(tab-port) {
        position: absolute;
        background: rgba($color: #fff, $alpha: .94);
        // top: 78px;
        top: 63px;
        right: 0;
        left: 0;
        bottom: 0;
        height: calc(100vh - 78px);
        visibility: hidden;
        opacity: 0;
        @include transition(.5s all cubic-bezier(0.68, -0.6, 0.32, 1.6));

        .lang {
            display: none;
        }

        .list {
            text-align: center;
            
            ul {
                li {
                    margin-bottom: 2.7rem;

                    a {
                        font-size: 2.3rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.mobileBox {
    @include respond(tab-port) {
        @include absoluteCenter();        
    }
}

.mobileIcon {
    // margin-right: 2.4rem;

    label {
        @include display-flex();
        flex-direction: column;
        width: 34px;
        cursor:pointer;

        span {
            background: #111;
            border-radius: 10px;
            height: 3px;
            margin: 3px 0;
            @include transition(.4s cubic-bezier(0.68, -0.6, 0.32, 1.6));

            &:nth-of-type(1) {
                width: 50%;
                margin-left: auto;
            }

            &:nth-of-type(2) {
                width: 100%;
            }

            &:nth-of-type(3) {
                width: 75%;
                margin-left: auto;
            }
            
            &[type="checkbox"] {
                display: none;
            }
        }

        input {
            outline: none;
            border: 0;
            height: 0;

            &[type="checkbox"]:checked ~ span:nth-of-type(1){
                transform-origin: bottom;
                transform: rotatez(45deg) translate(9px, 11px);
            }
            
            &[type="checkbox"]:checked ~ span:nth-of-type(2){
                transform-origin: top;
                transform: rotatez(-45deg)
            }

            &[type="checkbox"]:checked ~ span:nth-of-type(3){
                transform-origin: bottom;
                width: 50%;
                transform: translate(-14px, -17px) rotatez(45deg);
            }     
        }
    }
}